@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  background-color: #f0f0f0;
  color: #000;
  font-size: 0.875rem;
}
a {
    color: #000;
    font-size: 0.875rem;
    text-decoration: none;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
li {
    list-style: none;
}

/* header */
header {
  text-align: center;
}

main {
  padding: 0 15%;
}

section#function {
  margin-top: 40px;
}
section#function .box {
 margin-left: 15px; 
}

dt, dd {
  font-size: 16px;
  font-family: "Yu Gothic", "Meiryo", sans-serif;
  font-weight: normal;
}